.post-container {
    width: 100%;
    padding: 0.6rem 0.3rem;
    margin: 1.3rem 1rem 1rem 1rem;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 1px -3px 53px -34px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -3px 53px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -3px 53px -34px rgba(0,0,0,0.75);
}

.post-wrapper {
    padding: 1rem;
}




.post-top-content {
    display: flex;
    flex-direction: column;
}

.post-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-top-left-header {
    display:flex;
    align-items: center;
}
    
#post-pfp {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.post-top-username {
    font-weight: 500;
    padding: 0 14px;
}

.post-top-dateposted {
    font-weight: 400;
    padding: 0 14px;
    font-size: 12px;
}

.post-share-text-container {
    padding: 1rem 0;
}

.post-share-text {
    margin-bottom: 5px;
}

.post-share-image {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post-bottom-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.post-bottom-left {
    display: flex;
    align-items: center;
}

.like-icon {
    cursor: pointer;
}

.likes-amount {
    font-size: 13px;
    font-weight: 600;
    color: grey;
    padding: 0 10px;
}

.post-bottom-right-comment-label {
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px #2c2c2c;
}

